*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    width: 50px;
    background-color: hsla(208, 14%, 73%, 0.349);
    opacity: 0.8;
    padding: 1rem;
    border-radius: 10%;
}
button:hover{
    background-color: rgba(105, 102, 102, 0.247);
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsla(210, 6%, 51%, 0.99);
    margin: 0 auto;
}
footer{
    margin-top: 2rem;
    display: flex;
}
footer > div{
    margin: 0 auto;
    padding: 1rem;
}
#name{
    font-size: 2rem;
    padding: 1rem;
}
.top-products{
    margin: 0 auto;
}
.buttons{
    margin: 1rem auto;
}
.top-product{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}
.top-product > a{
    padding: 1rem;
    background-color: hsla(208, 86%, 36%, 0.05);
    width: 300px;
}
.top-product > a:hover{
    background-color: hsla(208, 100%, 95%, 0.95);
    color: gray;
}
.top-product > img{
    max-height: 70px;
    cursor: pointer;
}
.top-product > img:hover{
    max-height: 150px;
}
.nokia-img{
    margin: 0 25px 0 25px;
}
.red{
    font-size: 1.1rem;
    color: red;
}
.description{
    margin: 0 1rem;
}
.message-board{
    margin: 1.5rem auto;
}
.message-board > form{
    margin: 2rem;
}
.hidden{
    display: none;
}